

{%extends "base.html"%}
{%block page_content%}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class=" container"></div>
    <div class="row">
        <div class="col-12">
             <h2 class="text-center text-uppercase">О нас</h2>
    </div>
</div>
<h1>Наши услуги:</h1>
<ul type="circle">
    <li>Помощь в нахождении жилья</li>
    <li>Сопровождение при просмотрах квартиры</li>
    <li>Сопровождение в банк для открытия счета</li>
    <li>Помощь в подключении интернета</li>
    <li>Найдем школу или детский сад для вашего ребенка</li>
</ul>
<p><img src="portfolio/preview/home.jpg" alt= 'home' align="middle" width="913" height="500"></p>
<style>
  body {background-color: #c7b39b }
</style>
<adress>
    Леоник Анна +375445389565
</adress>
{%endblock%}